// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$font-family-serif: 'Roboto', serif;
$font-optical-sizing: auto;
$font-weight: 600;
$font-style: normal;
$font-size: 1rem;

